.link-card {
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  outline: none; /* Remove focus outline */
}

.link-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.link-card:focus {
  box-shadow: 0 0 0 3px var(--secondary-green);
}

.link-text {
  color: var(--secondary-green);
  text-decoration: none;
  font-weight: bold;
}

.link-card:hover .link-text {
  text-decoration: underline;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  .link-card {
    width: 100%;
    padding: 20px;
    height: auto;
    min-height: 250px;
  }

  .links-section {
    flex-direction: column;
    padding: 10px;
  }
}
