.link-card {
  background-color: #ffffff;
  padding: 80px;
  text-align: center;
  border-radius: 10px;
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.link-card a {
  color: var(--secondary-green);
  text-decoration: none;
  font-weight: bold;
}

.link-card a:hover {
  text-decoration: underline;
}
