.mission-section {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  margin: 20px 0;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mission-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: var(--main-green);
}

.mission-section p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 10px;
  color: var(--main-dark-grey);
}
