.app {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-off-white);
  color: var(--main-dark-grey);
  align-items: center;
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.links-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  .content {
    padding: 10px;
  }

  .links-section {
    flex-direction: column;
    gap: 15px;
    margin: 10px 0;
    padding: 10px;
  }
}
