:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-green: #87a97b;
  --main-light-grey: #9dacab;
  --main-dark-grey: #3f413e;
  --main-yellow: #ceb460;
  --main-off-white: #f8f8f8;
  --secondary-green: #597050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  background-color: var(--main-off-white);
}
